langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
notebook
langchain-tavily
wikipedia
trustcall
langgraph-cli[inmem]
mcp
fastmcp
langchain-mcp-adapters
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pytz
python-dateutil
aiofiles
psycopg2-binary
sqlalchemy
python-dotenv
tavily-python
fastapi
uvicorn[standard]
websockets
python-multipart
paddleocr
paddlepaddle
faiss-cpu
langchain-text-splitters
langchain-community

